[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
timezonefinder = "*"
pytz = "*"
apache-beam = {extras = ["gcp"], version = "2.46.0"}
black = "*"

[dev-packages]

[requires]
python_version = "3.9"
