[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
black = "*"
google-cloud-bigquery = "*"
google-cloud-logging = "*"
bigframes = "*"
jupyter = "*"
functions-framework = "*"
flask = "*"
pytest = "*"
pydotenv = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.9"
